:root {
  --color-slate-1: oklch(96% 0.01016 257.42);
  --color-slate-2: oklch(87.9% 0.02829 257.42);
  --color-slate-3: oklch(79.801% 0.04161 257.42);
  --color-slate-4: oklch(71.701% 0.04944 257.42);
  --color-slate-5: oklch(63.601% 0.05186 257.42);
  --color-slate-6: oklch(55.4% 0.046 257.417);
  --color-slate-7: oklch(47.399% 0.0532 257.42);
  --color-slate-8: oklch(39.299% 0.05547 257.42);
  --color-slate-9: oklch(31.199% 0.05325 257.42);
  --color-slate-10: oklch(23.1% 0.04601 257.42);
  --color-slate-11: oklch(15% 0.03438 257.42);
  --color-gray-1: oklch(96% 0.01016 264.36);
  --color-gray-2: oklch(87.9% 0.02693 264.36);
  --color-gray-3: oklch(79.801% 0.03754 264.36);
  --color-gray-4: oklch(71.701% 0.04142 264.36);
  --color-gray-5: oklch(63.601% 0.03801 264.36);
  --color-gray-6: oklch(55.1% 0.027 264.364);
  --color-gray-7: oklch(47.399% 0.05759 264.36);
  --color-gray-8: oklch(39.299% 0.0708 264.36);
  --color-gray-9: oklch(31.199% 0.07322 264.36);
  --color-gray-10: oklch(23.1% 0.067 264.36);
  --color-gray-11: oklch(15% 0.05156 264.36);
  --color-zinc-1: oklch(96% 0.01094 285.94);
  --color-zinc-2: oklch(87.9% 0.02797 285.94);
  --color-zinc-3: oklch(79.801% 0.03759 285.94);
  --color-zinc-4: oklch(71.701% 0.03936 285.94);
  --color-zinc-5: oklch(63.601% 0.03234 285.94);
  --color-zinc-6: oklch(55.2% 0.016 285.938);
  --color-zinc-7: oklch(47.399% 0.04088 285.94);
  --color-zinc-8: oklch(39.299% 0.05455 285.94);
  --color-zinc-9: oklch(31.199% 0.05953 285.94);
  --color-zinc-10: oklch(23.1% 0.05625 285.94);
  --color-zinc-11: oklch(15% 0.04414 285.94);
  --color-neutral-1: oklch(96% 0.01406 0);
  --color-neutral-2: oklch(87.9% 0.03625 0);
  --color-neutral-3: oklch(79.801% 0.04922 0);
  --color-neutral-4: oklch(71.701% 0.05 0);
  --color-neutral-5: oklch(63.601% 0.02898 0);
  --color-neutral-6: oklch(55.6% 0 0);
  --color-neutral-7: oklch(47.399% 0.02156 0);
  --color-neutral-8: oklch(39.299% 0.03578 0);
  --color-neutral-9: oklch(31.199% 0.04266 0);
  --color-neutral-10: oklch(23.1% 0.04219 0);
  --color-neutral-11: oklch(15% 0.03398 0);
  --color-stone-1: oklch(96% 0.01523 58.071);
  --color-stone-2: oklch(87.9% 0.04107 58.071);
  --color-stone-3: oklch(79.801% 0.05854 58.071);
  --color-stone-4: oklch(71.701% 0.04917 58.071);
  --color-stone-5: oklch(63.601% 0.02931 58.071);
  --color-stone-6: oklch(55.3% 0.013 58.071);
  --color-stone-7: oklch(47.399% 0.02178 58.071);
  --color-stone-8: oklch(39.299% 0.02694 58.071);
  --color-stone-9: oklch(31.199% 0.02848 58.071);
  --color-stone-10: oklch(23.1% 0.02608 58.071);
  --color-stone-11: oklch(15% 0.02031 58.071);
  --color-red-1: oklch(96% 0.0125 27.325);
  --color-red-2: oklch(87.9% 0.04845 27.325);
  --color-red-3: oklch(79.801% 0.09946 27.325);
  --color-red-4: oklch(71.701% 0.16989 27.325);
  --color-red-5: oklch(63.601% 0.24546 27.325);
  --color-red-6: oklch(57.7% 0.245 27.325);
  --color-red-7: oklch(47.399% 0.18245 27.325);
  --color-red-8: oklch(39.299% 0.13626 27.325);
  --color-red-9: oklch(31.199% 0.09579 27.325);
  --color-red-10: oklch(23.1% 0.0617 27.325);
  --color-red-11: oklch(15% 0.03438 27.325);
  --color-orange-1: oklch(96% 0.01328 41.116);
  --color-orange-2: oklch(87.9% 0.05357 41.116);
  --color-orange-3: oklch(79.801% 0.11493 41.116);
  --color-orange-4: oklch(71.701% 0.20191 41.116);
  --color-orange-5: oklch(64.6% 0.222 41.116);
  --color-orange-6: oklch(55.5% 0.17483 41.116);
  --color-orange-7: oklch(47.399% 0.13629 41.116);
  --color-orange-8: oklch(39.299% 0.10152 41.116);
  --color-orange-9: oklch(31.199% 0.07147 41.116);
  --color-orange-10: oklch(23.1% 0.04653 41.116);
  --color-orange-11: oklch(15% 0.02578 41.116);
  --color-amber-1: oklch(96% 0.02539 84.429);
  --color-amber-2: oklch(87.9% 0.11753 84.429);
  --color-amber-3: oklch(82.8% 0.189 84.429);
  --color-amber-4: oklch(71.701% 0.15304 84.429);
  --color-amber-5: oklch(63.601% 0.12761 84.429);
  --color-amber-6: oklch(55.5% 0.10307 84.429);
  --color-amber-7: oklch(47.399% 0.08198 84.429);
  --color-amber-8: oklch(39.299% 0.06248 84.429);
  --color-amber-9: oklch(31.199% 0.0453 84.429);
  --color-amber-10: oklch(23.1% 0.03023 84.429);
  --color-amber-11: oklch(15% 0.01758 84.429);
  --color-yellow-1: oklch(96% 0.0332 91.936);
  --color-yellow-2: oklch(85.2% 0.199 91.936);
  --color-yellow-3: oklch(79.801% 0.17644 91.936);
  --color-yellow-4: oklch(71.701% 0.14902 91.936);
  --color-yellow-5: oklch(63.601% 0.12436 91.936);
  --color-yellow-6: oklch(55.5% 0.10112 91.936);
  --color-yellow-7: oklch(47.399% 0.08 91.936);
  --color-yellow-8: oklch(39.299% 0.06103 91.936);
  --color-yellow-9: oklch(31.199% 0.04465 91.936);
  --color-yellow-10: oklch(23.1% 0.02987 91.936);
  --color-yellow-11: oklch(15% 0.01758 91.936);
  --color-lime-1: oklch(96% 0.05156 128.85);
  --color-lime-2: oklch(84.1% 0.238 128.85);
  --color-lime-3: oklch(79.801% 0.21458 128.85);
  --color-lime-4: oklch(71.701% 0.18273 128.85);
  --color-lime-5: oklch(63.601% 0.15255 128.85);
  --color-lime-6: oklch(55.5% 0.12529 128.85);
  --color-lime-7: oklch(47.399% 0.09971 128.85);
  --color-lime-8: oklch(39.299% 0.07712 128.85);
  --color-lime-9: oklch(31.199% 0.05682 128.85);
  --color-lime-10: oklch(23.1% 0.03879 128.85);
  --color-lime-11: oklch(15% 0.02305 128.85);
  --color-green-1: oklch(96% 0.03633 149.58);
  --color-green-2: oklch(87.9% 0.1528 149.58);
  --color-green-3: oklch(79.801% 0.2129 149.58);
  --color-green-4: oklch(72.3% 0.219 149.579);
  --color-green-5: oklch(63.601% 0.18306 149.58);
  --color-green-6: oklch(55.5% 0.15026 149.58);
  --color-green-7: oklch(47.399% 0.12119 149.58);
  --color-green-8: oklch(39.299% 0.09457 149.58);
  --color-green-9: oklch(31.199% 0.07041 149.58);
  --color-green-10: oklch(23.1% 0.04803 149.58);
  --color-green-11: oklch(15% 0.02891 149.58);
  --color-emerald-1: oklch(96% 0.03281 163.22);
  --color-emerald-2: oklch(87.9% 0.14595 163.22);
  --color-emerald-3: oklch(76.5% 0.177 163.223);
  --color-emerald-4: oklch(71.701% 0.15816 163.22);
  --color-emerald-5: oklch(63.601% 0.13368 163.22);
  --color-emerald-6: oklch(55.5% 0.11091 163.22);
  --color-emerald-7: oklch(47.399% 0.08978 163.22);
  --color-emerald-8: oklch(39.299% 0.07029 163.22);
  --color-emerald-9: oklch(31.199% 0.05264 163.22);
  --color-emerald-10: oklch(23.1% 0.03649 163.22);
  --color-emerald-11: oklch(15% 0.02188 163.22);
  --color-teal-1: oklch(96% 0.03203 181.91);
  --color-teal-2: oklch(87.9% 0.13941 181.91);
  --color-teal-3: oklch(77.7% 0.152 181.912);
  --color-teal-4: oklch(71.701% 0.13309 181.91);
  --color-teal-5: oklch(63.601% 0.11243 181.91);
  --color-teal-6: oklch(55.5% 0.09279 181.91);
  --color-teal-7: oklch(47.399% 0.07507 181.91);
  --color-teal-8: oklch(39.299% 0.05879 181.91);
  --color-teal-9: oklch(31.199% 0.04326 181.91);
  --color-teal-10: oklch(23.1% 0.02995 181.91);
  --color-teal-11: oklch(15% 0.01797 181.91);
  --color-cyan-1: oklch(96% 0.01836 211.53);
  --color-cyan-2: oklch(87.9% 0.07624 211.53);
  --color-cyan-3: oklch(78.9% 0.154 211.53);
  --color-cyan-4: oklch(71.701% 0.13267 211.53);
  --color-cyan-5: oklch(63.601% 0.11155 211.53);
  --color-cyan-6: oklch(55.5% 0.09155 211.53);
  --color-cyan-7: oklch(47.399% 0.07361 211.53);
  --color-cyan-8: oklch(39.299% 0.05723 211.53);
  --color-cyan-9: oklch(31.199% 0.04215 211.53);
  --color-cyan-10: oklch(23.1% 0.02895 211.53);
  --color-cyan-11: oklch(15% 0.01719 211.53);
  --color-sky-1: oklch(96% 0.01172 237.32);
  --color-sky-2: oklch(87.9% 0.04549 237.32);
  --color-sky-3: oklch(79.801% 0.09396 237.32);
  --color-sky-4: oklch(68.5% 0.169 237.323);
  --color-sky-5: oklch(63.601% 0.14766 237.32);
  --color-sky-6: oklch(55.5% 0.12063 237.32);
  --color-sky-7: oklch(47.399% 0.09601 237.32);
  --color-sky-8: oklch(39.299% 0.07375 237.32);
  --color-sky-9: oklch(31.199% 0.05388 237.32);
  --color-sky-10: oklch(23.1% 0.03657 237.32);
  --color-sky-11: oklch(15% 0.02148 237.32);
  --color-blue-1: oklch(96% 0.01016 262.88);
  --color-blue-2: oklch(87.9% 0.0373 262.88);
  --color-blue-3: oklch(79.801% 0.07321 262.88);
  --color-blue-4: oklch(71.701% 0.11847 262.88);
  --color-blue-5: oklch(63.601% 0.17364 262.88);
  --color-blue-6: oklch(54.6% 0.245 262.881);
  --color-blue-7: oklch(47.399% 0.24102 262.88);
  --color-blue-8: oklch(39.299% 0.17974 262.88);
  --color-blue-9: oklch(31.199% 0.1267 262.88);
  --color-blue-10: oklch(23.1% 0.08234 262.88);
  --color-blue-11: oklch(15% 0.04609 262.88);
  --color-indigo-1: oklch(96% 0.01016 276.97);
  --color-indigo-2: oklch(87.9% 0.03664 276.97);
  --color-indigo-3: oklch(79.801% 0.06996 276.97);
  --color-indigo-4: oklch(71.701% 0.11125 276.97);
  --color-indigo-5: oklch(63.601% 0.16071 276.97);
  --color-indigo-6: oklch(55.5% 0.21779 276.97);
  --color-indigo-7: oklch(51.1% 0.262 276.966);
  --color-indigo-8: oklch(39.299% 0.19304 276.97);
  --color-indigo-9: oklch(31.199% 0.13447 276.97);
  --color-indigo-10: oklch(23.1% 0.08609 276.97);
  --color-indigo-11: oklch(15% 0.04688 276.97);
  --color-violet-1: oklch(96% 0.01133 293.01);
  --color-violet-2: oklch(87.9% 0.04162 293.01);
  --color-violet-3: oklch(79.801% 0.08228 293.01);
  --color-violet-4: oklch(71.701% 0.13352 293.01);
  --color-violet-5: oklch(63.601% 0.1966 293.01);
  --color-violet-6: oklch(54.1% 0.281 293.009);
  --color-violet-7: oklch(47.399% 0.22816 293.01);
  --color-violet-8: oklch(39.299% 0.16956 293.01);
  --color-violet-9: oklch(31.199% 0.11949 293.01);
  --color-violet-10: oklch(23.1% 0.07729 293.01);
  --color-violet-11: oklch(15% 0.04297 293.01);
  --color-purple-1: oklch(96% 0.0125 302.32);
  --color-purple-2: oklch(87.9% 0.04591 302.32);
  --color-purple-3: oklch(79.801% 0.09126 302.32);
  --color-purple-4: oklch(71.701% 0.14839 302.32);
  --color-purple-5: oklch(63.601% 0.21925 302.32);
  --color-purple-6: oklch(55.8% 0.288 302.321);
  --color-purple-7: oklch(47.399% 0.22191 302.32);
  --color-purple-8: oklch(39.299% 0.16448 302.32);
  --color-purple-9: oklch(31.199% 0.11552 302.32);
  --color-purple-10: oklch(23.1% 0.07437 302.32);
  --color-purple-11: oklch(15% 0.04102 302.32);
  --color-fuchsia-1: oklch(96% 0.01797 322.15);
  --color-fuchsia-2: oklch(87.9% 0.067 322.15);
  --color-fuchsia-3: oklch(79.801% 0.13336 322.15);
  --color-fuchsia-4: oklch(71.701% 0.21941 322.15);
  --color-fuchsia-5: oklch(66.7% 0.295 322.15);
  --color-fuchsia-6: oklch(55.5% 0.23241 322.15);
  --color-fuchsia-7: oklch(47.399% 0.18371 322.15);
  --color-fuchsia-8: oklch(39.299% 0.1393 322.15);
  --color-fuchsia-9: oklch(31.199% 0.09979 322.15);
  --color-fuchsia-10: oklch(23.1% 0.06665 322.15);
  --color-fuchsia-11: oklch(15% 0.03828 322.15);
  --color-pink-1: oklch(96% 0.01367 0.584);
  --color-pink-2: oklch(87.9% 0.05299 0.584);
  --color-pink-3: oklch(79.801% 0.10932 0.584);
  --color-pink-4: oklch(71.701% 0.1874 0.584);
  --color-pink-5: oklch(63.601% 0.2432 0.584);
  --color-pink-6: oklch(59.2% 0.249 0.584);
  --color-pink-7: oklch(47.399% 0.18092 0.584);
  --color-pink-8: oklch(39.299% 0.13495 0.584);
  --color-pink-9: oklch(31.199% 0.0952 0.584);
  --color-pink-10: oklch(23.1% 0.06122 0.584);
  --color-pink-11: oklch(15% 0.03398 0.584);
  --color-rose-1: oklch(96% 0.01289 17.585);
  --color-rose-2: oklch(87.9% 0.04946 17.585);
  --color-rose-3: oklch(79.801% 0.10249 17.585);
  --color-rose-4: oklch(71.701% 0.17616 17.585);
  --color-rose-5: oklch(63.601% 0.24844 17.585);
  --color-rose-6: oklch(58.6% 0.253 17.585);
  --color-rose-7: oklch(47.399% 0.18548 17.585);
  --color-rose-8: oklch(39.299% 0.13742 17.585);
  --color-rose-9: oklch(31.199% 0.09608 17.585);
  --color-rose-10: oklch(23.1% 0.06147 17.585);
  --color-rose-11: oklch(15% 0.03359 17.585);
}