:root {
  --color-slate-1: oklch(96% 0.01016 257.42);
  --color-slate-2: oklch(87.9% 0.02829 257.42);
  --color-slate-3: oklch(79.801% 0.04161 257.42);
  --color-slate-4: oklch(71.701% 0.04944 257.42);
  --color-slate-5: oklch(63.601% 0.05186 257.42);
  --color-slate-6: oklch(55.4% 0.046 257.417);
  --color-slate-7: oklch(47.399% 0.0532 257.42);
  --color-slate-8: oklch(39.299% 0.05547 257.42);
  --color-slate-9: oklch(31.199% 0.05325 257.42);
  --color-slate-10: oklch(23.1% 0.04601 257.42);
  --color-slate-11: oklch(15% 0.03438 257.42);
  --color-gray-1: oklch(96% 0.01016 264.36);
  --color-gray-2: oklch(87.9% 0.02693 264.36);
  --color-gray-3: oklch(79.801% 0.03754 264.36);
  --color-gray-4: oklch(71.701% 0.04142 264.36);
  --color-gray-5: oklch(63.601% 0.03801 264.36);
  --color-gray-6: oklch(55.1% 0.027 264.364);
  --color-gray-7: oklch(47.399% 0.05759 264.36);
  --color-gray-8: oklch(39.299% 0.0708 264.36);
  --color-gray-9: oklch(31.199% 0.07322 264.36);
  --color-gray-10: oklch(23.1% 0.067 264.36);
  --color-gray-11: oklch(15% 0.05156 264.36);
  --color-zinc-1: oklch(96% 0.01094 285.94);
  --color-zinc-2: oklch(87.9% 0.02797 285.94);
  --color-zinc-3: oklch(79.801% 0.03759 285.94);
  --color-zinc-4: oklch(71.701% 0.03936 285.94);
  --color-zinc-5: oklch(63.601% 0.03234 285.94);
  --color-zinc-6: oklch(55.2% 0.016 285.938);
  --color-zinc-7: oklch(47.399% 0.04088 285.94);
  --color-zinc-8: oklch(39.299% 0.05455 285.94);
  --color-zinc-9: oklch(31.199% 0.05953 285.94);
  --color-zinc-10: oklch(23.1% 0.05625 285.94);
  --color-zinc-11: oklch(15% 0.04414 285.94);
  --color-neutral-1: oklch(96% 0.01406 0);
  --color-neutral-2: oklch(87.9% 0.03625 0);
  --color-neutral-3: oklch(79.801% 0.04922 0);
  --color-neutral-4: oklch(71.701% 0.05 0);
  --color-neutral-5: oklch(63.601% 0.02898 0);
  --color-neutral-6: oklch(55.6% 0 0);
  --color-neutral-7: oklch(47.399% 0.02156 0);
  --color-neutral-8: oklch(39.299% 0.03578 0);
  --color-neutral-9: oklch(31.199% 0.04266 0);
  --color-neutral-10: oklch(23.1% 0.04219 0);
  --color-neutral-11: oklch(15% 0.03398 0);
  --color-stone-1: oklch(96% 0.01523 58.071);
  --color-stone-2: oklch(87.9% 0.04107 58.071);
  --color-stone-3: oklch(79.801% 0.05854 58.071);
  --color-stone-4: oklch(71.701% 0.04917 58.071);
  --color-stone-5: oklch(63.601% 0.02931 58.071);
  --color-stone-6: oklch(55.3% 0.013 58.071);
  --color-stone-7: oklch(47.399% 0.02178 58.071);
  --color-stone-8: oklch(39.299% 0.02694 58.071);
  --color-stone-9: oklch(31.199% 0.02848 58.071);
  --color-stone-10: oklch(23.1% 0.02608 58.071);
  --color-stone-11: oklch(15% 0.02031 58.071);
  --color-red-1: oklch(96% 0.0125 27.325);
  --color-red-2: oklch(87.9% 0.04845 27.325);
  --color-red-3: oklch(79.801% 0.09946 27.325);
  --color-red-4: oklch(71.701% 0.16989 27.325);
  --color-red-5: oklch(63.601% 0.24546 27.325);
  --color-red-6: oklch(57.7% 0.245 27.325);
  --color-red-7: oklch(47.399% 0.18245 27.325);
  --color-red-8: oklch(39.299% 0.13626 27.325);
  --color-red-9: oklch(31.199% 0.09579 27.325);
  --color-red-10: oklch(23.1% 0.0617 27.325);
  --color-red-11: oklch(15% 0.03438 27.325);
  --color-orange-1: oklch(96% 0.01328 41.116);
  --color-orange-2: oklch(87.9% 0.05357 41.116);
  --color-orange-3: oklch(79.801% 0.11493 41.116);
  --color-orange-4: oklch(71.701% 0.20191 41.116);
  --color-orange-5: oklch(64.6% 0.222 41.116);
  --color-orange-6: oklch(55.5% 0.17483 41.116);
  --color-orange-7: oklch(47.399% 0.13629 41.116);
  --color-orange-8: oklch(39.299% 0.10152 41.116);
  --color-orange-9: oklch(31.199% 0.07147 41.116);
  --color-orange-10: oklch(23.1% 0.04653 41.116);
  --color-orange-11: oklch(15% 0.02578 41.116);
  --color-amber-1: oklch(96% 0.02539 84.429);
  --color-amber-2: oklch(87.9% 0.11753 84.429);
  --color-amber-3: oklch(82.8% 0.189 84.429);
  --color-amber-4: oklch(71.701% 0.15304 84.429);
  --color-amber-5: oklch(63.601% 0.12761 84.429);
  --color-amber-6: oklch(55.5% 0.10307 84.429);
  --color-amber-7: oklch(47.399% 0.08198 84.429);
  --color-amber-8: oklch(39.299% 0.06248 84.429);
  --color-amber-9: oklch(31.199% 0.0453 84.429);
  --color-amber-10: oklch(23.1% 0.03023 84.429);
  --color-amber-11: oklch(15% 0.01758 84.429);
  --color-yellow-1: oklch(96% 0.0332 91.936);
  --color-yellow-2: oklch(85.2% 0.199 91.936);
  --color-yellow-3: oklch(79.801% 0.17644 91.936);
  --color-yellow-4: oklch(71.701% 0.14902 91.936);
  --color-yellow-5: oklch(63.601% 0.12436 91.936);
  --color-yellow-6: oklch(55.5% 0.10112 91.936);
  --color-yellow-7: oklch(47.399% 0.08 91.936);
  --color-yellow-8: oklch(39.299% 0.06103 91.936);
  --color-yellow-9: oklch(31.199% 0.04465 91.936);
  --color-yellow-10: oklch(23.1% 0.02987 91.936);
  --color-yellow-11: oklch(15% 0.01758 91.936);
  --color-lime-1: oklch(96% 0.05156 128.85);
  --color-lime-2: oklch(84.1% 0.238 128.85);
  --color-lime-3: oklch(79.801% 0.21458 128.85);
  --color-lime-4: oklch(71.701% 0.18273 128.85);
  --color-lime-5: oklch(63.601% 0.15255 128.85);
  --color-lime-6: oklch(55.5% 0.12529 128.85);
  --color-lime-7: oklch(47.399% 0.09971 128.85);
  --color-lime-8: oklch(39.299% 0.07712 128.85);
  --color-lime-9: oklch(31.199% 0.05682 128.85);
  --color-lime-10: oklch(23.1% 0.03879 128.85);
  --color-lime-11: oklch(15% 0.02305 128.85);
}